.about-page {
  min-height: 100vh;
  padding: 100px 40px;
  text-align: center;
  background-color: #111;
  color: white;
}

.about-page h1 {
  font-size: 45px;
  color: #ff3b3b;
  margin-bottom: 20px;
}

.about-page p {
  max-width: 800px;
  margin: 0 auto;
  font-size: 20px;
  line-height: 1.6;
}
