.navbar {
  width: 100%;
  background-color: #111;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 60px;
  position: relative;
}

.logo {
  color: #ff3b3b;
  font-size: 34px;
  line-height: 1.1;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 25px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.nav-links a:hover {
  color: #ff3b3b;
}

.hamburger {
  display: none;
  background: none;
  border: none;
  color: white;
  font-size: 34px;
  cursor: pointer;
}

.menu-overlay {
  display: none;
}

/* MOBILE */
@media (max-width: 768px) {
  .navbar {
    padding: 20px;
  }

  .logo {
    font-size: 22px;
    max-width: 230px;
  }

  .hamburger {
    display: block;
    z-index: 1002;
  }

  .nav-links {
    display: none;
    position: absolute;
    top: 75px;
    right: 20px;
    background-color: #111;
    flex-direction: column;
    width: 220px;
    padding: 20px;
    border-radius: 10px;
    gap: 0;
    border-top: 5px solid #ff3b3b;
    box-shadow: 0 8px 18px rgba(255, 59, 59, 0.25);
    z-index: 1001;
  }

  .nav-links.active {
    display: flex;
  }

  .nav-links a {
    margin: 12px 0;
  }

  .menu-overlay {
    display: block;
    position: fixed;
    inset: 0;
    background: transparent;
    z-index: 900;
  }
}
